.paper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-r-ai--cen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.play-button {
  font-size: 48px !important;
  cursor: pointer;
  color: green;
  user-select: none;
}

.play-button:hover,
.rate-button:hover,
.restart-button:hover {
  opacity: 0.6;
}

.play-button-playing {
  color: red;
}

.restart-button {
  font-size: 48px !important;
  cursor: pointer;
  color: purple;
  user-select: none;
}

.restart-button--disabled {
  color: lightgray;
  pointer-events: none;
}

.rate-button {
  font-size: 24px;
  margin: 16px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.rate-indicator {
  font-size: 14px;
  width: fit-content;
  color: white;
}

.duration-section {
  padding: 8px;
}

.duration-boxes {
  position: relative;
  align-self: center;
  justify-content: center;
  bottom: 4px;
  width: calc(80vw);
  background: green;
}

.duration-box {
  height: 16px;
  background: orange;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.duration-box--full {
  background: white;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.duration-box--selected,
.duration-box--empty {
  position: relative;
  pointer-events: none;
  transition: width 0.05s ease-in-out;
}

.duration-box--empty {
  background: white;
}

.url-input {
  position: absolute;
  top: 8px;
  right: 8px;
}

.url-input input {
  padding: 8px;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: calc(30vw);
}

.url-input button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
}

button:hover {
  opacity: 0.8;
}

.seeker-bar {
  height: 32px;
  border-right: 2px solid hotpink;
  position: absolute;
  left: 0;
  pointer-events: none;
  top: -8px;
  z-index: 999;
}

.end-selector,
.start-selector {
  pointer-events: all;
  cursor: pointer !important;
  width: 4px;
  height: calc(100%);
  background: orangered;
  border: 4px transparent;
  position: absolute;
}

.start-selector {
  left: -4px;
}

.end-selector {
  right: -4px;
}

.start-selector:hover,
.end-selector:hover {
  opacity: 0.8;
}
