.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-r-ai--cen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.play-button {
  margin: 32px;
  cursor: pointer;
  color: green;
  user-select: none;
}

.play-button:hover,
.rate-button:hover {
  opacity: 0.6;
}

.play-button-playing {
  color: red;
}

.rate-button {
  font-size: 24px;
  margin: 16px;
  cursor: pointer;
  user-select: none;
}

.rate-indicator {
  font-size: 14px;
  width: 88px;
}

.duration-section {
  padding: 8px;
}

.duration-boxes {
  position: relative;
  align-self: center;
  justify-content: center;
  bottom: 4px;
  width: calc(80vw);
  background: green;
}

.duration-box {
  height: 16px;
  background: orange;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.duration-box--full {
  background: white;
  position: absolute;
  width: 100%;
}

.duration-box--selected {
  pointer-events: none;
  position: absolute;
  transition: width 0.05s ease-in-out;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.url-input input {
  padding: 8px;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: calc(70vw);
}

.url-input button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
}

button:hover {
  opacity: 0.8;
}
